@using System.Net.Http.Headers
@using ThetaFTP.Pages.Components;
@using ThetaFTP.Shared.Formatters;
@using ThetaFTP.Shared.Classes;
@using System.Text;
@using ThetaFTP.Shared.Models;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JS;
@page "/"


<PanelComponent>
    <Component>
        <div class="files_panel">
            <div class="files_panel_control ">
                <div style="display:inline-block; width:100%;">
                    <div class="panel_control_section">
                        <div class="files_panel_file_options">
                            <button class="control_button" style="margin-left: 20px" onclick="document.getElementById('file_dialog').click()">
                                <img class="control_image" src="./images/cloud-computing.webp" />
                                <InputFile id="file_dialog" OnChange="@Upload" hidden/>
                            </button>
                            <button class="control_button" style="margin-left: 40px" @onclick=CreateFolder>
                                <img class="control_image" src="./images/new-folder.webp" />
                            </button>
                        </div>
                    </div>

                    <div class="panel_control_section">
                        <div class="files_panel_file_search">
                            <div class="files_panel_file_search_control">
                                <input style="margin-left: 20px"  placeholder="Search" />
                                <button class="control_button" @onclick=Search>
                                    <img class="control_image" src="./images/search.webp" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            <div class="path_display">
                <p class="path_label">
                    Path
                </p>
                <input class="path_input" />
            </div>
        </div>
    </Component>
</PanelComponent>


@code{
    private string Path { get; set; } = "/";


    public async void Upload(InputFileChangeEventArgs e)
    {
        try
        {
            Stream stream = e.File.OpenReadStream(524288000);

            try
            {
                if (stream.CanRead)
                {
                    IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/functions.js");
                    string log_in_session_key = await module.InvokeAsync<string>("Get_Cache", "auth", "AuthCache");

                    FileOperationMetadata metadata = new FileOperationMetadata();
                    metadata.path = "/";
                    metadata.file_name = e.File.Name;
                    metadata.key = log_in_session_key;

                    StringBuilder builder = new StringBuilder("/files/insert?");
                    builder.Append(await QueryParsing.QueryParser(metadata));
;

                    StreamContent content = new StreamContent(stream);
                    content.Headers.ContentType = new MediaTypeHeaderValue("application/octet-stream");

                    HttpClient client = HttpClientGen.Generate();
                    client.BaseAddress = new Uri(NavigationManager.BaseUri);

                    HttpResponseMessage responseMessage = await client.PostAsync(builder.ToString(), content);

                    Console.WriteLine(await responseMessage.Content.ReadAsStringAsync());
                }
            }
            finally
            {
                await stream.DisposeAsync();
            }
        }
        catch{}
    }

    public void CreateFolder()
    {

    }

    public void Search()
    {
        
    }
}