@page "/log-in"
@using ThetaFTP.Pages.Components;
@using ThetaFTP.Shared.Classes;
@using ThetaFTP.Shared.Models;
@using System.Text;


@inject NavigationManager NavigationManager


<PanelComponent>
    <Component>
        <TitleSection title="Log In" />
        <InputSection inputSectionTitle="Email" inputValue="new InputSection.InputValue(OnEmailValue)" isPassword="false" />
        <br/>
        <InputSection inputSectionTitle="Password" inputValue="new InputSection.InputValue(OnPasswordValue)" isPassword="true" />
        <div style="display:flex;flex-direction:column;margin-top:40px;">
            <button class="auth_action" @onclick=SignIn>
                Sign In
            </button>
            <button class="auth_navigation" @onclick=NavigateToRegister>
                Don't have an account? Click to register.
            </button>
        </div>
    </Component>
</PanelComponent>

@code {

    private string? Email { get; set; }
    private string? Password { get; set; }

    // ADD CALLBACK METHODS FOR THE 'input' SECTIONS
    private void NavigateToRegister()
    {
        Console.WriteLine("register");
        NavigationManager.NavigateTo("register", false);
    }


    private async void SignIn()
    {

        AuthenticationModel authentication = new AuthenticationModel();
        authentication.email = Email;
        authentication.password = Password;

        string query_parameters = await QueryParsing.QueryParser<AuthenticationModel>(authentication);

        StringBuilder builder = new StringBuilder(NavigationManager.BaseUri);
        builder.Append("authentication/get?");
        builder.Append(query_parameters);


        Console.WriteLine($"\n\n\t{builder.ToString()}\n\n");

        HttpClient client = HttpClientGen.Generate(true);
        HttpResponseMessage message = await client.GetAsync(builder.ToString());
        Console.WriteLine(await message.Content.ReadAsStringAsync());

    }

    private void OnEmailValue(string? value)
    {
        Email = value;
    }

    private void OnPasswordValue(string? value)
    {
        Password = value;
    }
}
