@using ThetaFTP.Pages.Components;
@inject NavigationManager NavigationManager;
@page "/register";

<PanelComponent>
    <Component>
        <TitleSection title="Register" />
        <InputSection inputSectionTitle="Email" inputValue="new InputSection.InputValue(OnEmailValue)" isPassword="false" />
        <br/>
        <InputSection inputSectionTitle="Password" inputValue="new InputSection.InputValue(OnPasswordValue)" isPassword="true" />
        <br />
        <InputSection inputSectionTitle="Re-Password" isPassword="true" />
        <div style="display:flex;flex-direction:column;margin-top:40px;">
            <button class="auth_action" @onclick=SignUp>
                Sign Up
            </button>
            <button class="auth_navigation" @onclick=NavigateToLogIn>
                Already have an account? Click to login.
            </button>
        </div>
    </Component>
</PanelComponent>

@code {

    private string? Email { get; set; }
    private string? Password { get; set; }

    private void NavigateToLogIn()
    {
        Console.WriteLine("register");
        NavigationManager.NavigateTo("log-in", false);
    }

    private void OnEmailValue(string? value)
    {
        Email = value;
    }

    private void OnPasswordValue(string? value)
    {
        Password = value;
    }

    private void SignUp()
    {
        
    }
}
