@inherits LayoutComponentBase

<PageTitle>ThetaFTP</PageTitle>

<div class="page" style="flex-direction:column">
    <NavMenu />

    <main>
        <div class="main_app_container">
            @Body
        </div>
    </main>
</div>
