
<FocusPanel>
    <Component>
        <div style="margin-top:200px;"></div>
        <PanelComponent>
            <Component>
                <TitleSection title="Account validation" />
                <InputSection inputSectionTitle="Validation code" isPassword=false inputValue="new InputSection.InputValue(OnInput)" />
            </Component>
        </PanelComponent>
    </Component>
</FocusPanel>


@code {
    public delegate void CloseAccountValidationPanel();
    [Parameter] public CloseAccountValidationPanel? closeAccountValidationPanel { get; set; }

    private string? code;

    private void ClosePanel()
    {
        closeAccountValidationPanel?.Invoke();
    }

    private void OnInput(string? value)
    {
        code = value;
    }
}
