<div style="@style">
    <div>
        <h2 class="input_title">
            @inputSectionTitle
        </h2>
    </div>

    <div style="display:flex;flex-direction:column;align-self:center;">
        @if(isPassword)
        {
            @if (input_with_button == true)
            {
                <div style="width:100%; display:flex; flex-direction: row; align-content:center">
                    <input class="input_style" style="align-self:center" type="password" @oninput=OnInput />
                    @InputButton
                </div>
            }
            else
            {
                <input class="input_style" type="password" @oninput=OnInput />
            }
        }
        else
        {
            @if (input_with_button == true)
            {
                <div style="width:100%; display:flex; flex-direction: row; align-content:center">
                    <input class="input_style" style="align-self:center;" @oninput=OnInput />
                    @InputButton
                </div>
            }
            else
            {
                <input class="input_style" @oninput=OnInput />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public bool isPassword { get; set; }

    [Parameter]
    public string? inputSectionTitle { get; set; }

    public delegate void InputValue(string? val);

    [Parameter]
    public InputValue? inputValue { get; set; }

    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public bool input_with_button { get; set; }

    [Parameter] public RenderFragment? InputButton { get; set; }


    private void OnInput(ChangeEventArgs args)
    {
        inputValue?.Invoke(args?.Value?.ToString());
    }
}
