<button style="height: fit-content; width: fit-content; align-self: center; margin-left: 5px; border: 0px solid transparent; background-color: transparent" @onclick=ChangeVisibility>
    <img style="height:15px;" src=@(visible ==true ? "./images/view.webp" : "./images/hidden.webp") />
</button>

@code {
    [Parameter] public bool visible { get; set; }

    public delegate void VisbilityChangeCallback();
    [Parameter] public VisbilityChangeCallback? changeCallback { get; set; }

    private void ChangeVisibility() => changeCallback?.Invoke();
}
